@keyframes gradient-cicle {
  0% {
    color: #e34f99;
  }
  20% {
    color: #ff6482;
  }
  40% {
    color: #ff856c;
  }
  60% {
    color: #ffab5c;
  }
  80% {
    color: #ffd25b;
  }
  100% {
    color: #f9f871;
  }
}
