.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.8rem;
  opacity: 0;
  transform: scale(0);
  animation-name: menuTop;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  // transition: 0.3s;
}
.brand {
  font-size: 1.5rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: 0.2s;
  span {
    font-family: "Kufam";
  }
  &:focus {
    outline: none;
    background-color: var(--primary-850);
  }
  &:hover {
    color: var(--primary-400);
  }
  svg {
    color: var(--gray-300);
  }
}

.navbarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  transition: 0.3s;
}
.navLink {
  color: var(--gray-100);
  padding: 0.5rem;
  border-radius: 0.2rem;
  &:hover {
    background-color: var(--gray-700);
    color: var(--gray-100);
  }
}
.navMenu {
  display: flex;
  gap: 0.2rem;
}
.highlight {
  font-weight: 600;
  color: var(--primary-500);
  &:hover {
    color: var(--primary-500);
  }
}

.smallNav {
  position: fixed;
  z-index: 3;
  background-color: var(--gray-800);
  width: fit-content;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: auto;
  height: auto;
  opacity: 1;
  transform: scale(1);
  animation-name: menuDrop;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  transform: translateY(-100px);
  .navbarContent {
    flex-direction: row;
  }
}
.menuBtn {
  background: none;
  border: none;
  color: var(--primary-500);
  cursor: pointer;
  display: none;
  transition: 0.2s;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  &:focus {
    outline: 2px solid var(--primary-300);
    outline-offset: 0.1rem;
  }
}
@keyframes menuDrop {
  to {
    transform: translateY(0);
  }
}
@keyframes menuTop {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .brand {
    font-size: 1.2rem;
  }
  .navMenu {
    gap: 0;
  }
  .smallNav {
    height: 55px;
    width: 90%;
    .navbarContent {
      justify-content: space-between;
      width: 100%;
    }
    .menuBtn {
      display: inline-block;
    }
    .navMenu {
      flex-direction: column;

      background-color: var(--gray-800);
      padding-top: 5px;
      border-radius: 0 0 0.2rem 0.2rem;
    }
    .navbarCollapse {
      left: 0;
      right: 0;
      transition: 0.6s;
      opacity: 0;
      position: absolute;
      top: 48px;
      transform: translateY(-300px);
    }
  }
  .showMenu {
    left: 0;
    right: 0;
    position: absolute;
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
