.project {
    margin: .6em -15px;
    background: rgba($color: $primary, $alpha: .1);
    background: #2B303A;
    background: #102542;
    opacity: 0;
    // background:rgba($color: #512d38, $alpha: .1);
}
.project-info {
    padding: 4em 3em;
}
.cont-image-project {
    border-right: .3em solid black;
    padding: 5px;
    img {
        border-radius: $border-radius-lg;
    }
}