.card {
    border-radius: 0 ;
    overflow: hidden;
    border-radius: $border-radius-lg*2;
    border: 1px solid $gray-700;
    height: 100%;
}
.card-bg-dark {
    background: #222;
}
.skills {
    [class^="col"], [class*=" col"] {
        margin-bottom: 2em;
    }
}
.back-bg-dark {
    background: #112130;
}
.back-bg-light {
    background: #d2ffeb;
}
.react-bg-light {
    background: #d4e6eb;
}