$primary: #e34f99;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "nav.scss";
@import "hero.scss";
@import "about.scss";
@import "mediaqueries.scss";
body {
    background: #111;
    color: white;
}
.cont-image-project {
    padding-left: 0;
    padding-right: 0;
}


