$primary: #e34f99;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
.nav-link-animation {
    transition: .7s;
}
.nav-link-animation:hover {
    transform: scale(1.2) translateY(-5px);
}
.navbar-dark .navbar-nav .nav-link {
    color: $gray-200;
}
body {
    background: $gray-900;
    color: white;
}
.cont-image-project {
    padding-left: 0;
    padding-right: 0;
}
#nav {
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.hero {
    padding-top: 160px;
    background-image: url('../images/hero-bg-blur.jpg');
    background-size: cover;
    background-position: center;
}
.sticky {
    color: white;
    position: fixed !important;
    background: $gray-800;
    top: 0;
    left: 50px;
    z-index: 2;
    right: 50px;
}
.sticky-link {
    padding-top: 0;
    padding-bottom: 0;
}
.sticky + .container {
    padding-top: 80px;
}
@media screen and (max-width: 768px) {
    .nav-link-animation:hover{
        transform: translateX(10px);
    }
}