@font-face {
    font-family: 'kufam';
    src: url('../fonts/Kufam.ttf');
  }
$primary: #e34f99;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "nav.scss";
@import "hero.scss";
@import "about.scss";
@import "skills.scss";
@import "projects.scss";
@import "mediaqueries.scss";
body {
    background: #111;
    color: white;
}

html {
  scroll-behavior: smooth;
}
