@import "node_modules/bootstrap/scss/bootstrap.scss";

.nav-link-animation {
    transition: .5s;
}
.nav-link-animation:hover {
    transform: scale(1.2) translateY(-5px);
}
.cont-image-project {
    padding-left: 0;
    padding-right: 0;
}
#nav {
    transition: .5s;
}
.sticky {
    color: white;
    background: $cyan;
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 2;
    right: 50px;
    padding: 0;
}
.sticky-link {
    padding-top: 0;
    padding-bottom: 0;
}
.sticky + .container {
    padding-top: 80px;
}
@media screen and (max-width: 768px) {
    .nav-link-animation:hover{
        transform: translateX(10px);
    }
}